#divImg {
  width:  300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.fadeinAnim {
  animation: fadein 1s; /* easein; */
  -webkit-animation: fadein 1s; /* easein; */
}

@-webkit-keyframes fadein {
  0%   { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.fadeoutAnim {
  animation: fadeout 1s; /* easein; */
  -webkit-animation: fadeout 1s; /* easein; */
}

@-webkit-keyframes fadeout {
  0%   { opacity: 1.0; }
  100% { opacity: 0.1; }
}

button {
  visibility: hidden;
}

figcaption {
  font-size: 3em;
}

p {
    width: 100px;
    height: 100px;
    background: red;
    position :relative;
    -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */
    animation: mymove 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/*.fade {
  opacity: 0.5;
}*/
