nav {
  position: fixed;
  font-family: Times, serif;
  background: white;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 200px;
  z-index: 0;
}

li {
  margin-left: -10px;
  margin-right: -20px;
}

h1, section, [sashimi] {
  margin-left: 140px;
}

/* Attribute demo
[sushi] {
  display: inline-block;
  color: black;
  background: salmon;
}
*/
