#divImg {
  width:  300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

button, #plot {
/*display: none;*/
  visibility: hidden;
}

img {
  display: none;
}

figcaption {
  font-size: 3em;
}
